.reports_wrapper {
  padding: 0.8rem 0;
}

.list {
  margin-top: 20px;
  .list_head {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    .user {
      grid-column: 1/3;
    }
    .email {
      grid-column: 3/5;
    }
  }
  .list_body {
    margin-top: 10px;
      .report {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-bottom: 20px;
        border: 1px solid #ddd;
        padding: 1rem;
      .user {
        grid-column: 1/3;
      }
      .email {
        grid-column: 3/5;
      }
    }
  }
}
