.sidebar {
  background-color: #0a6ebd;
  height: 100%;
  .sidebar_wrapper{
    grid-column: 1 / 2;
    color: white;
    height: 100%;
    a {
      padding: 20px;
      text-decoration: none;
      color: white;
      border-bottom: 1px solid white;
      display: flex;
      flex-direction: column;
    }
  }
}
